/*
--- 01 TYPOGRAPHY
- Font size system (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights: 
Default: 400

- Line heights:
Default: 1


--- 02 COLOR

- Primary: #e67e22
- Tints: #fdf2e9
- Shades: #cf711f
- Accents: 
- Grey:
 #555
 #333

 --- 05 SHADOW

 --- 06 BORDER RADIUS

 --- 07 WHITE SPACES
 - Spacint system (px)
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #555;
  font-weight: 400;
  line-height: 1;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.hero-img {
  width: 100%;
}
